<!DOCTYPE html>
<html lang="en">
    <%- include("./components/head", {
        title: "Buy Best International Premium Beauty Products & Luxury Cosmetics Online in India - MyGlamm"
    }) %>
<body>
    <header>

    </header>
    <main>

    </main>
    <footer>
        
    </footer>
</body>
</html>