<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head", {
        title: `Payment`
    }) %>
    <link rel="stylesheet" href="/stylesheets/pages/payment.css" type="text/css" media="screen">
<body>
    <header>
        <%- include("../components/header") %>
    </header>
    <main>
        <p>Payment</p>
       <div id="payment-container">
        <nav>
            <p>PAYMENT METHOD</p>
            <div>
                <div id="payment__card" class="side__stylebar">Credit or Debit Card</div>
                <div id="payment__net" class="side__stylebar">Net Banking</div>
                <div id="payment__upi" class="side__stylebar">Google Pay / PhonePe/ UPI</div>
                <div id="payment__wallet" class="side__stylebar">Wallets</div>
                <div id="payment__cod" class="side__stylebar">Cash On Delivery</div>
            </div>
        </nav>
        <section>
            <div class="stylebar">
                <p>AMOUNT PAYABLE</p>
                <p id="payment__payable--amount"><%= user.totalPrice %> </p>
            </div>
            <div id="payment__details">
                <div class="pay__form--cont">
                    <label for="card__number">Card Number</label>
                    <input id="card__number" type="text" placeholder="XXXX - XXXX - XXXX - XXXX" required autofocous>
                    </div>
                    <p id="card__number--error"></p>
                    
            
                    <div class="pay__form--cont">
                    <label for="cardholder__name">Cardholder’s Name</label>
                    <input id="cardholder__name" type="text" placeholder="eg. Jennifer Gomes" required autofocous>
                    </div>
                    <p id="cardholder__name--error"></p>
            
            
                    <div class="pay__form--cont">
                    <div id="card__dates">
                    <label for="validity__till">Validity till</label>
                    <input id="validity__till--mm" type="text" placeholder="MM" required autofocous>
                    <input id="validity__till--yy" type="text" placeholder="YY" required autofocous>
                    </div>
            
                    <div>
                    <label for="cvv">CVV</label>
                    <input id="cvv" type="password" placeholder="* * *" required autofocous>
                    </div>
                    </div>
            
                    <input id="proceed__btn" type="submit" value="PROCEED TO PAY">
            </div>
        </section>
       </div>
        <div class="hr"></div>
       <p>© MyGlamm</p>
    </main>
    <footer></footer>
</body>
</html>
<script>
    let payBtn = document.getElementById("proceed__btn");

    payBtn.onclick = async ()=> {
        let id = JSON.parse(localStorage.getItem('id'));
        // await fetch(`http://localhost:5555/orders`, {
        //     method: "POST",
        //     body: JSON.stringify ({
        //         userId: id,
        //     })
        // })
        localStorage.setItem("flag", JSON.stringify(null))
        alert("Thank You")
        window.location.href = `http://localhost:5555/myglamm`;
    }
</script>


