<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head", {
        title: "MyGlamm - Sign-up"
    }) %>
<body>
    <header>
        <%- include("../components/header") %> 
    </header>
    <main>
        <p class="headP">VERIFY YOUR PHONE NUMBER TO COMPLETE YOUR REGISTRATION</p>
        <p id="signup__display--phone"></p>
        
        <form id="form__signup">
            <input type="password" id="signup__otp" autofocus required>
            <label id="nameLabel" for="signup__name">Name</label>    
    
            <label id = "emailLabel"for="signup__email">Email</label>
            <input id = "signup__name" type="text" placeholder="*Full Name" required autofocus autocomplete="name">

            <input id = "signup__email" type="email" placeholder="*Email Address" required autofocus autocomplete="email">

            <button id="signup__verify">VERIFY</button>
        </form> 
    </main>
    <footer>
       <%- include("../components/footer") %> 
    </footer>
</body>
</html>
<script src="scripts/signup.js"></script>