
<!-- add div start here -->

<div id="add__div">
    <a href="comingsoon" id="shop__now">SHOP NOW</a>
    <a href="myglammStoreLocator" id="myglamm__store">MyGlamm Store</a>
</div>

<!-- add div end here -->


<!-- middle div start here -->

<div id="middle__div">
    <a href="/myglamm" id="main__logo">
        <img src="/images/icons/logo-1.jpg" alt="myglamm logo">
    </a>
    <input type="search" id="search__bar" placeholder="Find Lipstick, Eyeliner, Makeup Tutorial, etc">
    <a href="referandearn" id="refer__earn">Refer & Earn</a>
    <a href="cart" id="bag__link">
        <span class="material-icons-outlined">shopping_cart<span id=bag__count></span></span>
    </a>
    <a href="/" id="profile">
        <span class="material-icons-outlined">
            person_outline
        </span>
    </a>
</div>

<!-- middle div end here -->


<!-- navbar start here -->

<nav>
    <a href="categories/6152cc82128a9e95014ef21d" id="makeup__link">MAKEUP</a>
    <a href="categories/6152cca5128a9e95014ef21f" id="hair__care">HAIR CARE</a>
    <a href="categories/6152ccbe128a9e95014ef221" id="skin__care">SKINCARE</a>
    <a href="categories/6152cce2128a9e95014ef223" id="sanitizing__care">SANITIZING CARE</a>
    <a href="termsAndConditions" id="terms__conditions">TERMS & CONDITION</a>
    <a href="referandearn" id="rewards">REWARDS</a>
    <a href="about" id="about">ABOUT</a>
</nav>

<!-- nav bar end here -->