<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
    crossorigin="anonymous"
  />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    .line{
        /* width: 30%;
        border-bottom: 10px solid black;
        margin:auto;
        margin-top: 0%;
        display : inline-block; */

        text-decoration: underline 5px #fdb2b2;
z-index: -1;

        
    }
    .box {
        color:white;
      }

      img {
          width: 12em;

      }
</style>
<body>
    <div class="container-fluid">

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="8000">
                <img src="https://files.myglamm.com/site-images/original/Homepage-banner-desktop-SK395_1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="https://files.myglamm.com/site-images/original/Desktop-Sf-KV-banner.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://files.myglamm.com/site-images/original/Homepage-banner-Web.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="https://files.myglamm.com/site-images/original/1920x527.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </div>
    <div class="container">
        
        <div class="row mt-4">
            <img 
            src="https://files.myglamm.com/site-images/original/Sleek-Banner-Best899.jpg">
        </div>
        <div class="row mt-5">
            <img src="https://files.myglamm.com/site-images/original/1920-x-527.jpg">
        </div>

        <div class="row text-uppercase fw-bolder  fs-3 text mt-5 "><p class="text-center line">Offer of the week</p></div>
        <!-- <div class="line"></div> -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src=" https://files.myglamm.com/site-images/original/SK395-Desktop.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Lit Liquid Matte Lipstick Offer</h5>
                 </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://files.myglamm.com/site-images/original/Get2-desk.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Buy 1 Get 1 Free</h5>
                 </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="https://files.myglamm.com/site-images/original/Get2-desk.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">Buy 1 Get a shade Free</h5>
                   
                  </div>
                </div>
              </div>
          
              <div class="col">
                <div class="card">
                  <img src="https://files.myglamm.com/site-images/original/skincare-Desktop.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">Buy 1 Get 1</h5>
                   
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://files.myglamm.com/site-images/original/makeup-Desktop.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">Buy 1 Get 1 Free </h5>
                 
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://files.myglamm.com/site-images/original/SK395-Desktop.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">Buy 1 Get 1 Free </h5>
                   
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://files.myglamm.com/site-images/400x400/tinted-perfection-base-primer-pore-minimiser-open-product-with-swatch.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">Lit Liquid Matte Lipstick Offer</h5>
                  
                  </div>
                </div>
              </div>
              <div class="col mb-5">
                <div class="card">
                  <img src="https://files.myglamm.com/site-images/400x400/1627823298280-08-slow-fade-2.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">Buy 1 Get 1 Free</h5>
                   
                  </div>
                </div>
              </div>
            
    </div>
    </div>
      <div class="row mt-5"><img src="https://files.myglamm.com/site-images/original/Community-Banner-2240-x-344_1.jpg"></div>

      
      <!-- footer added here -->
</body>
<script
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
crossorigin="anonymous"
></script>

</html>