<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
   
  </head>

  <body>
    <style>
      .box {
        color:white;
      }

      img {
          width: 12em;

      }
    </style>
    <footer>
      <div class="container">
        <div class="row">
            <div class="col m-2 ">
                <p class="text-black-50 fw-bold"><a  class=" text-uppercase text-decoration-none text-reset ">bath & body</a></p>
          <div class="row"><a href="" class="text-decoration-none  text-reset">Face Washes</a></div>
          <div class="row"><a href="" class="text-decoration-none text-reset">Shower Gels</a></div>
          <div class="row"><a href="" class="text-decoration-none text-reset">Body Moisurizers</a></div>
          <div class="row"><a href="" class="text-decoration-none text-reset">Soaps</a></div>
          <div class="row"><a href="" class="text-decoration-none text-reset">Hand Care</a></div>
          <div class="row"><a href="" class="text-decoration-none text-reset">Foot Care</a></div>
          <div class="row"><a href="" class="text-decoration-none text-reset"> Sanitizing kits</a></div>
          <div class="row"><a href="" class="text-decoration-none text-reset">Body-Spray & Mists</a></div>
            
            
            
           
        </div>
        <div class="col m-2 ">
            <p class="text-black-50 fw-bold"><a  class=" text-uppercase text-decoration-none text-reset ">Sanitizing Care</a></p>
      <div class="row"><a href="" class="text-decoration-none  text-reset">Sanitizing Wipes</a></div>
      <div class="row"><a href="" class="text-decoration-none text-reset">Face Washes</a></div>
      <div class="row"><a href="" class="text-decoration-none text-reset">Shower Gels</a></div>
      <div class="row"><a href="" class="text-decoration-none text-reset">Body Moisurizers</a></div>
      <div class="row"><a href="" class="text-decoration-none text-reset">Soaps</a></div>
      <div class="row"><a href="" class="text-decoration-none text-reset">Foot Care</a></div>
      <div class="row"><a href="" class="text-decoration-none text-reset">Surface Spray</a></div>
      <div class="row"><a href="" class="text-decoration-none text-reset">Sanitizing Kits</a></div>
      <div class="row"><a href="" class="text-decoration-none text-reset">Body Spray & Mists</a></div>
      <div class="row"><a href="" class="text-decoration-none text-reset">Sanitizing Spray</a></div>
      <div class="row"><a href="" class="text-decoration-none text-reset">Hand Sanitizer</a></div>
        
        
        
       
    </div>
    <div class="col m-2 ">
        <p class="text-black-50 fw-bold fw-bold"><a  class=" text-uppercase text-decoration-none text-reset ">SkinCare</a></p>
  <div class="row"><a href="" class="text-decoration-none  text-reset">Face Cleanser</a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Cleanser</a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Toner</a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Moisturizer</a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Face Wash</a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Body Lotion</a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Sheet Mask</a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Lip Balms & Treatment </a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Eye Cream </a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Face Sunscreen </a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Exfoliators & Scrub</a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Face Masks</a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Moisurising Gel </a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Night Cream</a></div>
  <div class="row"><a href="" class="text-decoration-none text-reset">Essence</a></div>

    
    
    
   
</div>
<div class="col m-2 ">
    <p class="text-black-50 fw-bold"><a  class=" text-uppercase text-decoration-none text-reset ">Face</a></p>
<div class="row"><a href="" class="text-decoration-none  text-reset">Face Sets</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Fixing Powder</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Primer</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Concealer</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Foundation</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Compact</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Setting Powder</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Banana Powder</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Highlighter</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Blush</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Bronzer</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Cheek Stain</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Face Chalks</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Sheet Masks</a></div>




</div>
<div class="col m-2 ">
    <p class="text-black-50 fw-bold"><a  class=" text-uppercase text-decoration-none text-reset ">Eyes</a></p>
<div class="row"><a href="" class="text-decoration-none  text-reset">Eyes Shadow</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Eyeliner</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Eyebrows</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Eye Sparkle</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Eye Chalks</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Mascara</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Kajal</a></div>
</div>

<div class="col m-2 ">
    <p class="text-black-50 fw-bold"><a  class=" text-uppercase text-decoration-none text-reset ">Lips</a></p>
<div class="row"><a href="" class="text-decoration-none  text-reset">Lipstick</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Matte Lipstick</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Metallic Lipstick</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Hi-Shine Lipstick</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Liquid Lipstick</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Liquid Lipstick</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Lip Gloss</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Hi-Shine Lipgloss</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">LipLiners</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Lip Care</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Lip Sparkle</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Lip Stain</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Lip Chalks </a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Find Your Lipstick</a></div>


</div>
<div class="col m-2 ">
    <p class="text-black-50 fw-bold"><a  class=" text-uppercase text-decoration-none text-reset ">Nails</a></p>
<div class="row"><a href="" class="text-decoration-none  text-reset">Nail Polish</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Matte Nail Polish</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Matte Nail Enamel</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Glossy Nail Enamel</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Nail Lacquer</a></div>



</div>
<div class="col m-2 ">
    <p class="text-black-50 fw-bold"><a  class=" text-uppercase text-decoration-none text-reset ">Hair Care</a></p>
<div class="row"><a href="" class="text-decoration-none  text-reset">Shampoo</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Conditioner</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Hair Oil</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Serum</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Combos</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Foot Care</a></div>
</div>
<div class="col m-2 ">
    <p class="text-black-50 fw-bold"><a  class=" text-uppercase text-decoration-none text-reset ">Myglammstudio</a></p>
<div class="row"><a href="" class="text-decoration-none  text-reset">Style</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Lifestyle</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Trends</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Tips</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Beauty</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Tutorials</a></div>
</div>
<div class="col m-2 ">
    <p class="text-black-50 fw-bold"><a  class=" text-uppercase text-decoration-none text-reset ">Know More</a></p>
<div class="row"><a href="" class="text-decoration-none  text-reset">About Us</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Exclusive Offers</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Refer & Earn</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">myglammPARTIES</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Store Locator</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Press & Media</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Terms & Conditions</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Privay Policy</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Shipping and Delivery Policy</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Returns and Replacements</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">MyGlamm Rewards</a></div>
<div class="row"><a href="" class="text-decoration-none text-reset">Sitemap</a></div>
</div>
      
      </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-5 ">
                  <p class="text-uppercase  text -start fs-5 text  mt-2">Subscribe for myglamm emails</p>
                      
                    <form class="d-flex">
                    <input class="form-control" type="email" placeholder="Please enter Valid email ID" aria-label="Search">
                    <button class=" box btn bg-dark" type="submit">SUBSCRIBE NOW</button>
                  </form>
                
              </div>
              <div class="col ">
                  <p class="text-uppercase fs-6 mt-5 p-4">Stay Connected</p>
             </div>
             
              <div class="col-3">
                  <p class="text-uppercase text-center fs-5">Experience the myglamm mobile app</p>
 <div class="d-flex">
    <a href="" >
        <img class="footer__img" src="https://www.myglamm.com/images/iosStore.png">
   
    </a>
    <a href="">
        <img class="footer__img" src="https://www.myglamm.com/images/playStore.png">
   
    </a>
          

 </div>
            </div>
          </div>
      </div>
    </footer>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"
  ></script>
</html>
<!-- <span class="material-icons-outlined">person_outline
  <select name="profile__options" id="profile__options">
    <option value=""><a href="">My Dashboard</a></option>
    <option value=""><a href="">My Profile</a></option>
    <option value=""><a href="">My Orders</a></option>
    <option value=""><a href="">MyGlammXO Party</a></option>
    <option value=""><button>Logout</button></option>
  </select>
</span> -->